		* {
			 margin: 0;
			 padding: 0;
		}
		
		body {
			font-family: Arial, serif;
			background: white;
		}
		
		/*header styles*/
		header {
		  margin-bottom: 0;
		}

		header p img {
		  display: inline;
		  vertical-align: middle;
		  padding: 5pt;
		}

		header p {
		  color: black;
		  font-size: 4em;
		  font-style: Comic Sans MS;
		}
		/*body styles*/
		#title {					
			margin-left: 14%;
		}
		
		#centerImg {
			width: 30%;
			margin-top: 2%;
			margin-left: 2%;
		}
		/*navbar styles*/
		.navbarN {
			overflow: hidden;
			background-color: #333;
			font-family: Arial, Helvetica, sans-serif;
			padding-left: 26%;
		}

		.navbarN a {
			float: left;
			font-size: 16px;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.dropdownM {
			float: left;
			overflow: hidden;
		}

		.dropdownM .dropbtnM {
			font-size: 16px;    
			border: none;
			outline: none;
			color: white;
			padding: 14px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}

		.navbarN a:hover, .dropdownM:hover .dropbtnM {
			background-color: red;
		}

		.dropdownM-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdownM-content a {
			float: none;
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}

		.dropdownM-content a:hover {
			background-color: #ddd;
		}

		.dropdownM:hover .dropdownM-content {
			display: block;
		}
		
		.error-box {
            border: red 1px solid;
            background-color: red;
        }

        .hidden {
            display: none;
        }